.contact{
    width: 100vh;
    height: 100%;
}
.contact-form{
    width: 50%;
    height: auto;
    padding: 1rem;
    margin: auto;
}
/*Name fieldset styling*/
.name-field{
    width: 70%;
    height: auto;
    margin: auto;
    display: flex;
}
.name-inputs{
    width: 100%;
    height: 20px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}
/*Info fieldset styling*/
.info-field{
    width: 70%;
    height: auto;
    margin: auto;
    display: flex;
}
.info-inputs{
    width: 100%;
    height: 20px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}
/*Message fieldset styling*/
.message-field{
    width: 70%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.message-input{
    width: 50%;
    height: 50px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    
}
/*Submit fieldset styling*/
.submit-field{
    width: 50%;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit-button{
    width: 5rem;
    height: 2rem;
    border-radius: 15px;
}
.submit-button:hover{
    box-shadow: inset 1px 1px 1px 1px black;
    height: 40px;
    background-color: ghostwhite;
}