*{
    padding: 0;
    margin: 0;
}
body{
    color: #ffffff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}/*Header styling*/
.header{
    background-color: #011C26;
    height: 5rem;
    padding: 2rem 0 3rem 0;
    border: 5px double black;
}
.tab-button{
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 3px solid white;
    width: 5rem;
    background-color: transparent;
    color: white;
    text-shadow: 2px 2px 4px red;
}
.tab-button:hover{
    background-color: black;
    font-style: italic;
    border: 3px double white;
}
.restaurant-name{
    font-style: oblique;
    font-family: cursive;
    text-shadow: 2px 2px 4px red;
    text-align: center;
    margin: 5px;
}
.nav-bar{
    background-color: rgba(10, 10, 10, 0.5);
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
}/*Main styling*/
.main{
    background-color: black;
    border:2px double #011C26;
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
}
.restaurant-Pic{
    width: 100%;
}/*Footer styling*/
.footer{
    background-color: #011C26;
    height: 5rem;
    padding: 5rem;
}